@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Edu+SA+Beginner:wght@500&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#body {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
  height: 100vh; }
  #body #content {
    background-color: white;
    width: 70vh;
    height: 100vh; }
    @media (max-width: 550px) {
      #body #content {
        width: 60vh; } }
    @media (max-width: 470px) {
      #body #content {
        width: 55vh; } }
    @media (max-width: 425px) {
      #body #content {
        width: 50vh; } }
    @media (max-width: 375px) {
      #body #content {
        width: 45vh; } }
    @media (max-width: 325px) {
      #body #content {
        width: 40vh; } }
    #body #content #header {
      display: flex;
      flex: 1 0 auto;
      margin: 3vh;
      min-width: 40vh;
      height: 15vh;
      background-image: linear-gradient(to right, #FF5F42, #EB403B, #FF5187, #E83FBB, #EF45FF);
      padding-left: 2vh;
      padding-right: 2vh;
      align-items: center; }
      @media (max-width: 470px) {
        #body #content #header {
          margin: 2vh; } }
      @media (max-width: 375px) {
        #body #content #header {
          margin: 0;
          margin-bottom: 2vh; } }
      #body #content #header svg {
        fill: white;
        height: 10vh; }
        @media (max-width: 470px) {
          #body #content #header svg {
            height: 9.3vh; } }
    #body #content #main {
      display: flex;
      flex: 1 0 auto;
      margin: 3vh;
      min-width: 42vh;
      justify-content: center;
      flex-direction: column; }
      @media (max-width: 550px) {
        #body #content #main {
          width: 60vh;
          margin: 0vh; } }
      @media (max-width: 470px) {
        #body #content #main {
          width: 55vh; } }
      @media (max-width: 425px) {
        #body #content #main {
          width: 50vh; } }
      @media (max-width: 375px) {
        #body #content #main {
          width: 45vh; } }
      @media (max-width: 325px) {
        #body #content #main {
          width: 40vh; } }
      #body #content #main #blocks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        @media (max-width: 325px) {
          #body #content #main #blocks {
            margin-left: -1.3vh; } }
        #body #content #main #blocks .cont1 {
          cursor: pointer;
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 2vh; }
          #body #content #main #blocks .cont1 img {
            width: 60vh;
            height: 25vh; }
            @media (max-width: 550px) {
              #body #content #main #blocks .cont1 img {
                width: 50vh;
                height: 20vh; } }
            @media (max-width: 470px) {
              #body #content #main #blocks .cont1 img {
                width: 45vh; } }
            @media (max-width: 375px) {
              #body #content #main #blocks .cont1 img {
                width: 40vh; } }
            @media (max-width: 325px) {
              #body #content #main #blocks .cont1 img {
                width: 35vh;
                height: 18vh; } }
          #body #content #main #blocks .cont1 #text {
            width: 60vh; }
            @media (max-width: 550px) {
              #body #content #main #blocks .cont1 #text {
                width: 50vh; } }
            @media (max-width: 470px) {
              #body #content #main #blocks .cont1 #text {
                width: 45vh; } }
            @media (max-width: 375px) {
              #body #content #main #blocks .cont1 #text {
                width: 40vh; } }
            @media (max-width: 325px) {
              #body #content #main #blocks .cont1 #text {
                width: 35vh; } }
            #body #content #main #blocks .cont1 #text p {
              color: #878787;
              font-size: 9pt; }
          #body #content #main #blocks .cont1 #dc {
            background-image: linear-gradient(to left, #FF5F42, #EB403B, #FF5187, #E83FBB, #EF45FF);
            height: 0.5vh;
            width: 30vh; }
            @media (max-width: 375px) {
              #body #content #main #blocks .cont1 #dc {
                width: 15vh; } }
        #body #content #main #blocks #dual {
          display: flex;
          flex-direction: row;
          gap: 2vh; }
          @media (max-width: 470px) {
            #body #content #main #blocks #dual {
              gap: 0.2vh; } }
          @media (max-width: 375px) {
            #body #content #main #blocks #dual {
              gap: 0.5vh; } }
          #body #content #main #blocks #dual .cont2 {
            cursor: pointer;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 2vh; }
            #body #content #main #blocks #dual .cont2 img {
              width: 30vh;
              height: 20vh; }
              @media (max-width: 550px) {
                #body #content #main #blocks #dual .cont2 img {
                  width: 25vh;
                  height: 15vh; } }
              @media (max-width: 470px) {
                #body #content #main #blocks #dual .cont2 img {
                  width: 22.5vh; } }
              @media (max-width: 375px) {
                #body #content #main #blocks #dual .cont2 img {
                  width: 20vh; } }
              @media (max-width: 325px) {
                #body #content #main #blocks #dual .cont2 img {
                  width: 17.5vh; } }
            #body #content #main #blocks #dual .cont2 #text {
              width: 30vh; }
              @media (max-width: 550px) {
                #body #content #main #blocks #dual .cont2 #text {
                  width: 25vh; } }
              @media (max-width: 470px) {
                #body #content #main #blocks #dual .cont2 #text {
                  width: 22.5vh;
                  height: 11vh; }
                  #body #content #main #blocks #dual .cont2 #text h5 {
                    font-size: medium; } }
              @media (max-width: 375px) {
                #body #content #main #blocks #dual .cont2 #text {
                  width: 20vh; }
                  #body #content #main #blocks #dual .cont2 #text h5 {
                    font-size: medium; } }
              @media (max-width: 325px) {
                #body #content #main #blocks #dual .cont2 #text {
                  width: 17.5vh; } }
            #body #content #main #blocks #dual .cont2 #dc {
              margin-top: 1vh;
              background-image: linear-gradient(to right, #3F9BF2, #4284FC, #4767E6, #424AFC, #5440F4);
              height: 0.5vh;
              width: 20vh; }
              @media (max-width: 375px) {
                #body #content #main #blocks #dual .cont2 #dc {
                  width: 10.5vh; } }
          #body #content #main #blocks #dual .cont3 {
            cursor: pointer;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 2vh; }
            #body #content #main #blocks #dual .cont3 img {
              width: 30vh;
              height: 20vh; }
              @media (max-width: 550px) {
                #body #content #main #blocks #dual .cont3 img {
                  width: 25vh;
                  height: 15vh; } }
              @media (max-width: 470px) {
                #body #content #main #blocks #dual .cont3 img {
                  width: 22.5vh; } }
              @media (max-width: 375px) {
                #body #content #main #blocks #dual .cont3 img {
                  width: 20vh; } }
              @media (max-width: 325px) {
                #body #content #main #blocks #dual .cont3 img {
                  width: 17.5vh; } }
            #body #content #main #blocks #dual .cont3 #text {
              width: 30vh; }
              @media (max-width: 550px) {
                #body #content #main #blocks #dual .cont3 #text {
                  width: 25vh; } }
              @media (max-width: 470px) {
                #body #content #main #blocks #dual .cont3 #text {
                  width: 22.5vh;
                  height: 11vh; }
                  #body #content #main #blocks #dual .cont3 #text h5 {
                    font-size: medium; } }
              @media (max-width: 375px) {
                #body #content #main #blocks #dual .cont3 #text h5 {
                  font-size: medium; } }
              @media (max-width: 325px) {
                #body #content #main #blocks #dual .cont3 #text {
                  width: 17.5vh; } }
            #body #content #main #blocks #dual .cont3 #dc {
              margin-top: 1vh;
              background-image: linear-gradient(to left, #50F2B1, #53FCA2, #57E687, #53FC75, #6BF474);
              height: 0.5vh;
              width: 20vh; }
              @media (max-width: 375px) {
                #body #content #main #blocks #dual .cont3 #dc {
                  width: 10.5vh; } }
    #body #content #footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 0 auto;
      margin: 3vh;
      min-width: 40vh;
      height: 9vh;
      background-color: #FF5F42;
      padding-left: 2vh;
      padding-right: 2vh;
      color: white;
      align-items: center; }
      @media (max-width: 425px) {
        #body #content #footer {
          margin: 2vh; } }
      @media (max-width: 375px) {
        #body #content #footer {
          margin: 0; } }
@media (max-width: 325px) and (max-height: 680px) {
  #body #content #footer h4 {
    font-size: medium; } }

      #body #content #footer h1 {
        font-family: 'Dosis', sans-serif; }
      #body #content #footer .text {
        font-family: 'Edu SA Beginner', cursive;
        margin-left: 2vh;
        padding-left: 2vh;
        border-left: solid 1px white;
        margin-right: 5vh; }

/*# sourceMappingURL=style.css.map */
