@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Edu+SA+Beginner:wght@500&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#body {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6; }
  #body #content {
    background-color: white;
    width: 90vh;
    height: 100%; }
    #body #content #header {
      display: flex;
      flex: 1 0 auto;
      margin: 3vh;
      min-width: 42vh;
      height: 20vh;
      background-image: linear-gradient(to right, #FF5F42, #EB403B, #FF5187, #E83FBB, #EF45FF);
      padding-left: 2vh;
      padding-right: 2vh;
      align-items: center; }
      #body #content #header svg {
        fill: white;
        height: 10vh; }
    #body #content #main {
      background-color: white;
      display: flex;
      flex: 1 0 auto;
      margin: 3vh;
      min-width: 42vh;
      justify-content: center;
      flex-direction: column; }
      #body #content #main #blocks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        #body #content #main #blocks .cont1 {
          cursor: pointer;
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 2vh; }
          #body #content #main #blocks .cont1 img {
            width: 70vh;
            height: 30vh; }
          #body #content #main #blocks .cont1 #text {
            width: 70vh; }
            #body #content #main #blocks .cont1 #text p {
              color: #878787;
              font-size: 9pt; }
          #body #content #main #blocks .cont1 #dc {
            background-image: linear-gradient(to left, #FF5F42, #EB403B, #FF5187, #E83FBB, #EF45FF);
            height: 0.5vh;
            width: 30vh; }
        #body #content #main #blocks #dual {
          display: flex;
          flex-direction: row;
          gap: 2vh; }
          #body #content #main #blocks #dual .cont2 {
            cursor: pointer;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 2vh; }
            #body #content #main #blocks #dual .cont2 img {
              width: 35vh;
              height: 30vh; }
            #body #content #main #blocks #dual .cont2 #text {
              width: 35vh; }
            #body #content #main #blocks #dual .cont2 #dc {
              margin-top: 1vh;
              background-image: linear-gradient(to right, #3F9BF2, #4284FC, #4767E6, #424AFC, #5440F4);
              height: 0.5vh;
              width: 20vh; }
          #body #content #main #blocks #dual .cont3 {
            cursor: pointer;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 2vh; }
            #body #content #main #blocks #dual .cont3 img {
              width: 35vh;
              height: 30vh; }
            #body #content #main #blocks #dual .cont3 #text {
              width: 35vh; }
            #body #content #main #blocks #dual .cont3 #dc {
              margin-top: 1vh;
              background-image: linear-gradient(to left, #50F2B1, #53FCA2, #57E687, #53FC75, #6BF474);
              height: 0.5vh;
              width: 20vh; }
    #body #content #footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 0 auto;
      margin: 3vh;
      min-width: 42vh;
      height: 12vh;
      background-color: #FF5F42;
      padding-left: 2vh;
      padding-right: 2vh;
      color: white;
      align-items: center; }
      #body #content #footer h1 {
        font-family: 'Dosis', sans-serif; }
      #body #content #footer .text {
        font-family: 'Edu SA Beginner', cursive;
        margin-left: 2vh;
        padding-left: 2vh;
        border-left: solid 1px white;
        margin-right: 5vh; }

/*# sourceMappingURL=style.css.map */
